.mat-toolbar {
    margin: -24px;
    width : auto;
    margin-bottom: 10px;
}

mat-form-field {
    padding: 5px;
}

mat-hint {
    color: red;
}

// body {
//     font-family: Arial, sans-serif;
//     margin: 0;
//     padding: 0;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     height: 100vh;
//     background-color: #f0f0f0;
// }

// .signup-form {
//     background-color: white;
//     padding: 20px;
//     border-radius: 8px;
//     box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
// }

// .signup-form h1 {
//     text-align: center;
//     margin-bottom: 20px;
// }

// .form-group {
//     margin-bottom: 16px;
// }

// label {
//     font-weight: bold;
// }

// input {
//     width: 100%;
//     padding: 8px;
//     border: 1px solid #ccc;
//     border-radius: 4px;
// }

// button {
//     display: block;
//     width: 100%;
//     padding: 10px;
//     background-color: #007bff;
//     color: white;
//     border: none;
//     border-radius: 4px;
//     cursor: pointer;
//     font-weight: bold;
// }

// button:hover {
//     background-color: #0056b3;
// }

// body {
//     font-family: Arial, sans-serif;
//     margin: 0;
//     padding: 0;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     height: 100vh;
//     background-color: #007bff;
// }

// .header {
//     background-color: white;
//     padding: 20px;
//     text-align: center;
//     border-radius: 8px;
//     box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
// }
// .dialog-actions {
//     display: flex;
//     justify-content: flex-end;
//     margin-top: 20px;
// }

// .action-button {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     padding: 10px 16px;
//     border: none;
//     border-radius: 4px;
//     cursor: pointer;
//     font-weight: bold;
//     text-transform: uppercase;
// }

// .primary-button {
//     background-color: #007bff;
//     color: white;
//     margin-right: 8px;
// }

// .primary-button:hover {
//     background-color: #0056b3;
// }

// .cancel-button {
//     background-color: #f44336;
//     color: white;
// }

// .cancel-button:hover {
//     background-color: #d32f2f;
// }

// .material-icons {
//     margin-left: 8px;
// }


// // h1 {
// //     margin: 0;
// //     font-size: 24px;
// //     color: #007bff;
// // }
